body {
    background-color: #eaccd9;
}

.card{
    width: 150px;
    height: 150px;
    display: grid;
    justify-content: space-evenly;  
    align-content: center;   
}

.cards {
    display: grid;
    justify-content: space-evenly;  
    align-content: space-evenly;   
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    margin: 1rem;
}

.warning{
    color: rgb(152, 79, 27);
}
